<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
<link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
<link rel='stylesheet' href='/meditation.css'>
</head>
<body>

	<h1>Create an Account</h1>
  
	<table id='accountCreate'>
		<form action='/account' method='POST' id='accountCreation' onsubmit='createAccount();'>
				<tr><td>First Name</td><td><input type='text' name='firstname' id='firstname'></td><td><div id='fnameErr'></div></td></tr>
				<tr><td>Last Name</td><td><input type='text' name='lastname' id='lastname'></td><td><div id='lnameErr'></div></td></tr>
				<tr><td>Username</td><td><input type='text' name='username' id='username'></td>
					<td>
						<% if (unerr) { %>
							<div><span style='color: #FF5555;'>Username is taken!</span></div>
						<% } else { %>
							<div id='unameErr'></div>
						<% } %>
					</td></tr>
				<tr><td>Password</td><td><input type='password' name='password' id='password'></td><td><div id='passErr'></div></td></tr>
				<tr><td>Confirm Password</td><td><input type='password' name='confirmPass' id='confirmPass'></td><td><div id='cpassErr'></div></td></tr>
				<tr><td>Zip Code</td><td><input type='text' name='zipcode' id='zipcode'></td><td><div id='zipErr'></div></td></tr>
				<tr><td></td><td><input type='submit' id='makeAccount' value='Submit'></td></tr>
		</form>
	</table>
  
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='/meditation.js'></script>
</body>
</html>
