<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
<link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
<link rel='stylesheet' href='/meditation.css'>
</head>
<body>

	<div id="menubar">
		<ul>
			<a href='home'><li>Home</li></a>
			<a href='timer'><li>Meditation</li></a>
			<a href='progress'><li>Progress</li></a>
			<a href='logout'><li>Logout</li></a>
		</ul>
	</div>
  
	<div id='meditationTimer'>
		<table id='timerAdjust'>
			<tr><td><div id='hrup' onclick='modifyHour(1)'></div></td><td></td><td><div id='minup' onclick='modifyMinute(1)'></div></td><td></td><td><div id='secup' onclick='modifySecond(1)'></div></td></tr>
			<tr><td><span id='adjustHr' onclick='changeTimeVal("adjustHr", "hrInput")'>0</span><input id='hrInput' value='' style='display: none;'></td><td id='colonspacer'>:</td>
				<td><span id='adjustMin' onclick='changeTimeVal("adjustMin", "minInput")'>10</span><input id='minInput' value='' style='display: none;'></td><td id='colonspacer'>:</td>
				<td><span id='adjustSec' onclick='changeTimeVal("adjustSec", "secInput")'>00</span><input id='secInput' value='' style='display: none;'></td>
			</tr>
			<tr><td><div id='hrdown' onclick='modifyHour(-1)'></div></td><td></td><td><div id='mindown' onclick='modifyMinute(-1)'></div></td><td></td><td><div id='secdown' onclick='modifySecond(-1)'></div></td></tr>
		</table>

		<div id='timerButtons'>
			<button id='start' onclick='startTimer()'>Start</button>
			<button id='stop' onclick='stopTimer()'>Stop</button>
			<button id='reset' onclick='resetTimer()'>Reset</button>
		</div>

		<div id='buddhaFill'>
			<img id='buddhaFillImg' src='http://www.vagabondtemple.com/wp-content/uploads/2016/07/mantra-om-1292602.png'>
		</div>
	</div>
	
	<div id='meditationJournal' style='display: none;'>
		<form action='/timer' method='POST' id='meditationEntry'>
			<h3>Log your meditation</h3><br>
			<input type='hidden' id='meditationTime' value='' name='meditationTime'>
			<textarea id='journalEntry' name='journalEntry'></textarea><br>
			<input type='submit' id='logJournal' value='Log Journal' onclick='sendMeditateTimeJournal();'>
		</form>
	</div>
  
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='/meditation.js'></script>
</body>
</html>