<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
<link rel='stylesheet' href='/meditation.css'>
</head>
<body>

	<div id="menubar">
		<ul>
			<a href='home'><li>Home</li></a>
			<a href='timer'><li>Meditation</li></a>
			<a href='progress'><li>Progress</li></a>
			<a href='accountmod'><li>Account</li></a>
			<a href='logout'><li>Logout</li></a>
		</ul>
	</div>
  
	<div id='meditationTimer'>
		<table id='timerAdjust'>
			<tr><td><div id='hrup' onclick='modifyHour(1)'></div></td><td></td><td><div id='minup' onclick='modifyMinute(1)'></div></td><td></td><td><div id='secup' onclick='modifySecond(1)'></div></td></tr>
			<tr><td><div id='adjustHr' onclick='changeTimeVal("adjustHr", "hrInput")'><%- defaultHrs %></div><input id='hrInput' value='' style='display: none;'></td><td id='colonspacer'>:</td>
				<td><div id='adjustMin' onclick='changeTimeVal("adjustMin", "minInput")'><%- defaultMinutes %></div><input id='minInput' value='' style='display: none;'></td><td id='colonspacer'>:</td>
				<td><div id='adjustSec' onclick='changeTimeVal("adjustSec", "secInput")'><%- defaultSeconds %></div><input id='secInput' value='' style='display: none;'></td>
			</tr>
			<tr><td><div id='hrdown' onclick='modifyHour(-1)'></div></td><td></td><td><div id='mindown' onclick='modifyMinute(-1)'></div></td><td></td><td><div id='secdown' onclick='modifySecond(-1)'></div></td></tr>
		</table>

		<div id='timerButtons'>
			<button id='start' onclick='startTimer()'>Start</button>
			<button id='stop' onclick='stopTimer()'>Stop</button>
			<button id='reset' onclick='resetTimer()'>Reset</button>
			<button id='defaultTime' onclick='setDefaultTime()'>Set Default Time</button>
			<button id='info' onclick='displayTimerInfo()'><i class="fa fa-info-circle" aria-hidden="true"></i></button>
		</div>

		<div id='timerInfo' style='display: none;'>
			<p>Here you can record a meditation session.  A gong will sound both when the
			session starts and when it ends.  Press <span style='color: #77BEFB'>Start</span>
			to start the timer, <span style='color: #77BEFB'>Stop</span> to stop it,
			<span style='color: #77BEFB'>Reset</span> to go back to the beginning, or 
			<span style='color: #77BEFB'>Set Default Time</span> to personalize your default
			meditation time.  You can adjust the time with either the up and down arrows, 
			or you can click on the numbers and enter in the appropriate time.  You will be 
			prompted to make a journal entry after the meditation session ends, where you 
			can log your thoughts, or you can cancel to not record a journal entry.</p>
		</div>

		<br>
		<div id='buddhaFill'>
			<img id='buddhaFillImg' src='http://www.vagabondtemple.com/wp-content/uploads/2016/07/mantra-om-1292602.png'>
		</div>
	</div>
	
	<div id='meditationJournal' style='display: none;'>
		<form action='/timer' method='POST' id='meditationEntry'>
			<h3>Log your meditation</h3><br>
			<input type='hidden' id='meditationTime' value='' name='meditationTime'>
			<input type='hidden' id='meditationDate' value='' name='meditationDate'>
			<input type='hidden' id='meditationHrMin' value='' name='meditationHrMin'>
			<textarea id='journalEntry' name='journalEntry'></textarea><br>
			<input type='submit' id='logJournal' value='Log Journal'>
		</form>
	</div>
  
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script src='https://use.fontawesome.com/c25bf22fda.js'></script>
<script src='/meditation.js'></script>
<script>
</script>
</body>
</html>