body {
	background-color: #000000;
	background: url('/images/ocean_at_night.jpg') center center fixed;
	color: #FFFFFF;
	text-align: center;
	font-family: "Muli", Verdana;
	font-size: 20px;
}

#menubar {
	background-color: #000000;
	padding: 10px;
	position: fixed;
	top: 0;
	width: 100%;
}

#menubar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#menubar li {
	color: #A8A6A8;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
	display: inline-block;
	font-size: 20px;
	transition: all .3s ease-in-out;
}

#menubar li:hover {
	color: #FFFFFF;
}

a {
	color: #FFFFFF;
}

a:hover {
	color: #77BEFB;
	text-decoration: none;
	transition: all .3s ease-in-out;
}

select {
	color: #000000;
	padding: 5px;
	font-size: 20px;
}

/* Home page */

#homePage {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	width: 50%;
	font-size: 20px;
}

#homeQuote {
	color: #CAC8CA;
}

/* Meditation Page */

#meditationTimer {
	margin-top: 120px;
}

#timerAdjust {
	margin-left: auto;
	margin-right: auto;
	font-family: "Muli", Verdana;
}

button {
	font-family: "Muli", Verdana;
	font-size: 20px;
	background-color: #A8A6A8;
	color: #000000;
	border: 0px;
	border-radius: 5px;
	margin: 35px 20px 35px 20px;
	padding: 10px 15px 10px 15px;
}

button:hover {
	background-color: #CAC8CA;
	color: #000000;
	transition: all .3s ease-in-out;
}

table {
	font-size: 36px;
	color: #FFFFFF;
}

#hrup, #minup, #secup {
	width: 0px;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 36px solid #A8A6A8;
}

#hrdown, #mindown, #secdown {
	width: 0px;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 36px solid #A8A6A8;
}

#hrup:hover, #secup:hover, #minup:hover {
	color: #CAC8CA;
	width: 0px;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 36px solid #CAC8CA;
	transition: all .3s ease-in-out;
}

#hrdown:hover, #mindown:hover, #secdown:hover {
	width: 0px;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 36px solid #CAC8CA;
	transition: all .3s ease-in-out;
}

#hrInput, #minInput, #secInput {
	background-color: #000000;
	color: #CAC8CA;
	width: 100px;
	height: 40px;
	text-align: center;
}

#colonspacer {
	width: 30px;
}

#buddhaFill {
    background-color: #000000;
	color: #FFFFFF;
	border: 8px solid #A8A6A8;
	width: 400px;
	height: 400px;
	border-radius: 400px;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
}

#buddhaFillImg {
	height: 280px;
	margin: 50px;
	filter: invert(0%);	
	transition: all .9999999s ease-in-out;
}

#meditationJournal {
	margin-top: 120px;
}

#journalEntry {
	height: 500px;
	width: 500px;
	background-color: #000000;
	color: #A8A6A8;
	border: 5px solid #A8A6A8;
	border-radius: 5px;
	font-size: 20px;
	padding: 15px;
}

#logJournal {
	font-family: "Muli", Verdana;
	font-size: 26px;
	background-color: #A8A6A8;
	color: #000000;
	border: 0px;
	border-radius: 5px;
	margin: 35px 20px 35px 20px;
	padding: 10px 15px 10px 15px;	
}

#logJournal:hover {
	background-color: #CAC8CA;
	color: #000000;
	transition: all .3s ease-in-out;
}

/* Progress */

#progressCalendar {
	border: 2px solid #CCCCCC;
	border-collapse: separate;
	border-spacing: 0px;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
}

#progressCalendar th, #progressCalendar td {
	border: 2px solid #CCCCCC;
	text-align: center;
	width: 125px;
}

#progressCalendar th {
	background-color: rgba(0, 0, 0, 0.6);
	color: #FFFFFF;
	height: 50px;
	font-size: 20px;
}

#progressCalendar td {
	background-color: rgba(0, 0, 0, 0.3);
	position: relative;
	height: 75px;
}

#monthDay {
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	padding: 5px;
	text-align: right;
	position: absolute;
	top: 0;
}

#dayRecord {
	text-align: left;
}

#logResult {
	padding: 10px;
	margin: 10px;
}

/* Account Creation Page */
#accountCreate, #loginTable {
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	text-align: left;
}

#accountCreate td, #loginTable td {
	padding: 5px;
}

#accountCreate input, #loginTable input {
	background-color: #000000;
	color: #CAC8CA;
	border-radius: 5px;
	padding: 5px;
}

input[type="submit"], #loginSite {
	font-family: "Muli", Verdana;
	font-size: 20px;
	background-color: #B9B7B9;
	color: #000000;
	border: 0px;
	border-radius: 5px;
	margin: 5px;
	padding: 10px 15px 10px 15px;
}

input[type="submit"]:hover, #loginSite:hover {
	background-color: #CAC8CA;
	color: #000000;
	transition: all .3s ease-in-out;
}